

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.menu ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}