* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-family: Helvetica, sans-serif;
}

body {
    padding: 0 12em;
    display: flex;
    flex-direction: column;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo {
    display: flex;
    gap: 1em;
    height: 40px;
    align-items: center;
    color: #efefef;
}

.logo h2 {
    color: #2A3639;
}

.logo hr {
    height: 100%;
    color: #485254;
}

.logo p {
    color: #485254;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 2px;
}

.navigation ul li {
    background-color: #ECECEC;
    padding: 1em;
}

.navigation ul li:hover {
    background-color: #E24E2A;
    color: white;
    cursor: pointer;
}

/* banner */

.banner {
    height: 360px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* about */

.about {
    background-color: #E24E2A;
    padding: 3em 8em;
}

.about p {
    text-align: center;
    font-size: 14px;
    color: #F2B5A5;
}

.about p span {
    text-decoration: underline;
    color: white;
}

/* cards */

.cards-holder {
    background-color: #383838;
    height: 250px;
    display: flex;
    padding: 12em 2em;
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card i {
    padding: 1em;
    background-color: #E24E2A;
}

.card .title {
    color: white;

}

.card .description {
    color: #5E5248;    
    border-top: 1px solid #5E5248;
    padding-top: 1em;
}

/* subbanner */

.subbanner {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.subbanner span h2 {
    color: #4F4F4F;
    font-size: 2em;
    font-weight: 300;
}

.subbanner span p {
    color: #5E5248;
}

.subbanner span a {
    text-decoration: none;
    background-color: #1B9772;
    padding: 1em 2em;
    color: white;
}